<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zds.channel.dal.mapper.SmsTemplateMapper">
  <resultMap id="BaseResultMap" type="com.zds.channel.dal.model.SmsTemplate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="template_code" jdbcType="VARCHAR" property="templateCode" />
    <result column="template_name" jdbcType="VARCHAR" property="templateName" />
    <result column="template_content" jdbcType="VARCHAR" property="templateContent" />
    <result column="template_param" jdbcType="VARCHAR" property="templateParam" />
    <result column="channel_name" jdbcType="VARCHAR" property="channelName" />
    <result column="is_valid" jdbcType="BIT" property="isValid" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
  </resultMap>
</mapper>